---
layout: default
title: News
permalink: /news/
---

<section>
  <div class="wrap">
    <h1>News</h1>
            <p style="margin-top:16px"><a href="https://flic.kr/s/aHBqjD5g3p" target="_blank" rel="noopener">More photos from the group</a></p>
  </div>
</section>

<section style="padding-top:0">
  <div class="wrap narrow-lg">
    {% for item in site.data.news %}
    <div class="news-item{% if item.image %} has-img{% endif %}">

      {% if item.image %}
      <img class="news-img" src="{{ '/assets/img/' | append: item.image | relative_url }}" alt="">
      {% endif %}

      <div>
        <time>{{ item.date }}</time>
        <h3>{{ item.title }}</h3>
        {% if item.body %}<p>{{ item.body }}</p>{% endif %}
      </div>

    </div>
    {% endfor %}
  </div>
</section>
