<footer>
  <div class="wrap">
    <div class="foot">
      <div>
        The Pennsylvania State University<br>
        Department of Chemistry<br><br>
        520 Benkovic (Chemistry) Building<br>
        University Park, PA 16802<br>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
      <div>
        <a href="#">PSU Faculty Page</a><br>
        <a href="#">Google Scholar</a><br>
        <a href="#">LinkedIn Profile</a>
      </div>
      <div class="foot-mark">
        {% include logo.svg %}
        <span>The Fenton Lab</span>
      </div>
    </div>
    <div class="foot-b">&copy; {{ site.time | date: "%Y" }} Julie Fenton &middot; Last updated {{ site.time | date: "%B %Y" }}</div>
  </div>
</footer>
